// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 10px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$extraLargeWidth: 1280px;
$largeWidth: 980px;
$mediumWidth: 768px;
$smallWidth: 480px;
$extraSmallWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dfdfdf;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

// Application color
$bg-color: #ededed;
$sidebar-link-hover-color: #f7f7f7;
$description-color: rgba(0, 0, 0, 0.5);
$link-color: #1b79b9;
$link-icon-color: #0288d1;
$button-icon-color: rgba(0, 0, 0, 0.7);
$star-icon-color: #94a1b3;
$star-pos-icon-color: #fdbf4c;
$gray-text-color: #8792a7;
$green-text-color: #0ab169;
$blue-text-color: #0288d1;
$red-text-color: #ff5252;
$cell-item-color: rgba(0, 0, 0, 0.05);

//Gradient
$gradient-color-1: #4370e5;
$gradient-color-2: #1b94d6;
$gradient-color-3: #30afc1;
$gradient-color-4: #d5f3b3;
$gradient-color-5: #36c89b;
$gradient-color-6: #ffffff;
